.container {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: block;
  margin: 20px 20px;
}

button {
  display: block;
  padding: 10px 20px;
  /* width: 50px; */
}

.store {
  display: flex;
}
